@using SummerFresh.Controls
@model SummerFresh.Controls.ChartConfig
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Test</title>
    <link href="~/content/css/common.css" rel="stylesheet" />
    @*<script src="http://cdn.hcharts.cn/jquery/jquery-1.8.3.min.js" type="text/javascript"></script>*@
    <script src="~/content/js/jquery-1.9.1.min.js" type="text/javascript"></script>
    @*<script src="http://cdn.hcharts.cn/highcharts/highcharts.js" type="text/javascript"></script>*@
    <script src="~/content/js/highcharts/highstock.js" type="text/javascript"></script>
    @if (Request.QueryString["charttheme"] != "default")
    { 
        <script src="~/content/js/highcharts/themes/@(Request.QueryString["charttheme"] +".js")"></script>
    }
    <script src="~/content/js/common.js"></script>
    <script>

    function getQueryStringByName(name) {

        var result = location.search.match(new RegExp("[\?\&]" + name + "=([^\&]+)", "i"));

        if (result == null || result.length < 1) {

            return "";

        }

        return result[1];

    }
    $(function () {
        showChart();
    });
    function showChart()
    {
        summerFresh.dataService("/Chart/CreateChartOption?fieldmapping=" + getQueryStringByName("fieldmapping") +"&othersetting=" + getQueryStringByName("othersetting") +"&sqlids=" +  getQueryStringByName("sqlids") ,
          null, function (data)
        {
            $("#textChart").highcharts(data)
        });
    }
</script>
</head>
<body>
    <div id="textChart"></div>
</body>
</html>
