<?xml version="1.0" encoding="utf-8"?>
<commands xmlns="http://schemas.bingosoft.net/netframework/sqlcommand">
  <command key="HorizontalPie">
    <![CDATA[
    SELECT 1 AS A ,2 AS B , 4 AS D ,'站点1' AS StationName
    ]]>
  </command>
  <command key="VerticalPie">
    <![CDATA[
    SELECT 'A' [Name], 2 [Value]
    UNION
    SELECT 'B' [Name], 3 [Value]
    UNION
    SELECT 'C' [Name], 1 [Value]
    UNION
    SELECT 'D' [Name], 6 [Value]
    UNION
    SELECT 'E' [Name], 9 [Value]
    ]]>
  </command>
  <commmand key="testPage">
    <![CDATA[
      SELECT * FROM APP_Page
    ]]>
  </commmand>
  <command key="BroswerCount">
    <![CDATA[
      select 'Firefox' as Broswer ,  45.0 as [Count]
      union
      select 'IE' as Broswer ,  12.8 as [Count]
      union
      select 'Safari' as Broswer ,  8.5 as [Count]
      union
      select 'Opera' as Broswer ,  6.2 as [Count]
      union
      select 'Others' as Broswer ,  0.7 as [Count]
    ]]>
  </command>
  <command key="TempHum">
    <![CDATA[
    select '23' as [Time], 26 as Temp,   86 as Hum
union
select '00' as [Time],   26 as Temp,    	85as Hum
union
select '01' as [Time],   26 as Temp,   	84as Hum
union
select '02' as [Time],   26 as Temp,    	87as Hum
union
select '03' as [Time],   25 as Temp,   	90as Hum
union
select '04' as [Time],   25 as Temp,   	91as Hum
union
select '05' as [Time],   25 as Temp,   	92as Hum
union
select '06' as [Time],   25 as Temp,   	91as Hum
union
select '07' as [Time],   25 as Temp,   	91as Hum
union
select '08' as [Time],   26 as Temp,   	88as Hum
    ]]>
  </command>
  <command key="test7DayTrend">
    <![CDATA[
      SELECT 2 AQIHigh, 3 AQILow, '2016-04-30' ForTime, 'SO2' PrimaryPollutant ,'西宁市' CityName
      UNION
      SELECT 2 AQIHigh, 3 AQILow, '2016-05-01' ForTime, 'NO2' PrimaryPollutant  ,'西宁市' CityName
      UNION
      SELECT 2 AQIHigh, 3 AQILow, '2016-05-02' ForTime, 'CO' PrimaryPollutant  ,'西宁市' CityName
      UNION
      SELECT 2 AQIHigh, 3 AQILow, '2016-05-03' ForTime, 'O3' PrimaryPollutant  ,'西宁市' CityName
      UNION
      SELECT 2 AQIHigh, 3 AQILow, '2016-05-04' ForTime, 'PM10' PrimaryPollutant  ,'西宁市' CityName
      UNION
      SELECT 2 AQIHigh, 3 AQILow, '2016-05-05' ForTime, 'PM2.5' PrimaryPollutant  ,'西宁市' CityName
      UNION
      SELECT 2 AQIHigh, 3 AQILow, '2016-05-06' ForTime, 'SO2,NO2' PrimaryPollutant  ,'西宁市' CityName
    ]]>
  </command>
  <command key="Sales">
    <![CDATA[
    SELECT 'A组' [Group],'第一季度' [Season], 20 [Sales]
union
SELECT'A组'[Group] ,'第二季度'[Season], 30[Sales]
union
SELECT'A组'[Group] ,'第三季度'[Season], 40[Sales]
union
SELECT'A组' [Group],'第四季度'[Season], 35[Sales]
union
SELECT'B组' [Group],'第一季度'[Season], 32[Sales]
union
SELECT'B组' [Group],'第二季度'[Season], 29[Sales]
union
SELECT'B组' [Group],'第三季度'[Season]  ,30[Sales]
union
SELECT'B组' [Group],'第四季度'[Season]  ,32[Sales]
union
SELECT'C组' [Group],'第一季度'[Season]  ,24[Sales]
union
SELECT'C组' [Group],'第二季度'[Season]  ,37[Sales]
union
SELECT'C组' [Group],'第三季度'[Season]  ,32[Sales]
union
SELECT'C组' [Group],'第四季度'[Season]  ,36[Sales]

    ]]>
  </command>
  <command key="test_tableInsert">
    <![CDATA[
      SELECT [InsertType],
      [TableCount],
      [InsertCount],
      [TableType],
      (sum([Time])-min([Time])-max([Time]))/(count([Time])-2) as Time
       FROM [TEST_TableInsert2] WITH(NOLOCK) WHERE 1=1 
      {? AND [InsertType] like '%$InsertType$%' } 
      {? AND [TableCount]=#TableCount# } 
      {? AND [InsertCount]=#InsertCount# } 
      {? AND [TableType] like '%$TableType$%' } 
      {? AND [Time]=#Time# }
      group by InsertType,TableCount,InsertCount,TableType
      ORDER BY [InsertCount] ASC
    ]]>
  </command>
</commands>
