<?xml version="1.0" encoding="utf-8"?>
<commands xmlns="http://schemas.bingosoft.net/netframework/sqlcommand">

  <command key="SummerFresh.Business.Entity.ComponentEntity.Tree">
    <![CDATA[
        SELECT ComponentId id,ParentId pId,ComponentName name FROM APP_Component
    ]]>
  </command>

  <command key="SummerFresh.Business.Entity.CRUDEntity.Tree">
    <![CDATA[
        SELECT 
        null id,
        null pId, 
        '所有功能' name,
        'true' `open`,
        '/Content/icons/root.gif' icon
        UNION
        SELECT 
        CRUDId id,
        null pId,
        CRUDName name,
        'false' `open`,
        '/Content/icons/vapplication.gif' icon
        FROM APP_CRUD
    ]]>
  </command>  

  <command key="SummerFresh.Business.Entity.ComponentEntity.Update">
    <![CDATA[
        UPDATE APP_Component 
        SET LastUpdateTime=#LastUpdateTime#
        {? ,ComponentName=#ComponentName# }
        {? ,PageId=#PageId# }
        {? ,ComponentXML=#ComponentXML# }
        {? ,ComponentType=#ComponentType# }
        {? ,Rank=#Rank# }
        {? ,TargetId=#TargetId# }
        {? ,ParentId=#ParentId# }
        WHERE ComponentId=#ComponentId#
    ]]>
  </command>

  <command key="SummerFresh.Business.Entity.ComponentEntity.Delete">
    <![CDATA[
        DELETE FROM APP_Component
        WHERE ComponentId IN (SELECT ComponentId FROM fn_get_sub_me_component(#ids#))
    ]]>
  </command>

  <command key="SummerFresh.Business.Entity.PageEntity.Tree">
    <![CDATA[
        SELECT 1 Rank,
        '' id,
        null pId, 
        '所有功能' name,
        '/PageDesigner/PageManagement/null?type=0' url1,
        'true' `open`,
        '/Content/icons/root.gif' icon
        UNION
        SELECT 
        1 Rank, 
        PageId id,
        ParentId pId,
        PageTitle name,
        '/PageDesigner/PageManagement/'+PageId+'?type='+PageType+'&parentName='+PageName url1,
        'false' `open`,
        (case when PageType='0' then '/Content/icons/folder.gif' else '/Content/icons/application.gif' end) icon
        FROM APP_Page
    ]]>
  </command>

  <command key="SummerFresh.Business.Entity.DataFieldEntity.Tree">
    <![CDATA[
      SELECT 0 id,
      'SummerFreshData' name,
      '/Content/icons/DataSource.gif' icon,
      null pId,
      'true' `open`
      UNION
      SELECT object_id id,
      name,
      (case when type='U' then '/Content/icons/list.gif' else '/Content/icons/icon_vtable.gif' end) icon,
      parent_object_id pId,
      'false' `open`
      FROM sys.objects WHERE type IN ('U','V')
      UNION
      SELECT c.column_id id,
      c.name,
      '/Content/icons/Control.gif' icon,
      c.object_id pId,
      'false' `open`
      FROM SYS.columns c
      inner join sys.objects o on c.object_id=o.object_id
      where o.type in ('U','V')
      order by name
    ]]>
  </command>

  <command key="SummerFresh.Business.Entity.DataFieldEntity.Select">
    <![CDATA[
      SELECT 
      C.name FieldName,
      C.column_id Rank,
      C.column_id FieldID,
      ISNULL(P.value,C.name) FieldComment,
      C.is_nullable FieldIsNullable,
      C.is_identity FieldIsAutoIncrease,
      (case when  C.max_length='-1' then 'MAX' when T.name='decimal' or T.name='numeric' then CAST( C.precision as varchar)+','+ cast(C.scale as varchar) when T.name='varchar' or T.name='char' then CAST(C.max_length as varchar) when T.name = 'nvarchar' then CAST(C.max_length/2 as varchar) end) FieldLength,
      T.name FieldType,
      ISNULL(ICI.is_primary_key,0) FieldIsKey,
      'True' FieldEditable,
      'True' FieldDisplayable,
      'True' FieldSortable,
      'True' FieldSearchable
      FROM SYS.columns C 
      LEFT JOIN SYS.systypes T 
      ON C.system_type_id=T.xusertype 
	    left Join(
		  select IC.object_id,IC.column_id,IC.index_id,I.is_primary_key from  sys.index_columns IC
		  inner JOIN SYS.indexes I
		  ON IC.object_id=I.object_id AND IC.index_id=I.index_id  and is_primary_key=1
	    ) as ICI on 
	     c.object_id=ICI.object_id and c.column_id=ICI.column_id
      LEFT OUTER JOIN  sys.extended_properties P
      ON  P.major_id = C.object_id AND P.minor_id = C.column_id  AND P.name = 'MS_Description'  
      WHERE C.OBJECT_ID=OBJECT_ID(#TreeNodeText#)
    ]]>
  </command>
  <command key="SummerFresh.Business.Entity.ComponentEntity.Validate">
    <![CDATA[
      SELECT COUNT(0) FROM APP_Component WHERE 1=1 AND ComponentName=#id# 
      {? AND ParentId=#pId# }
      {? AND TargetId=#tId# }
      {? AND PageId=#pageId# }
    ]]>
  </command>
  <command key="SummerFresh.Business.Entity.ComponentEntity.UpdatePage">
    <![CDATA[
    UPDATE APP_Page SET LastUpdateTime=GETDATE() WHERE PageId=#PageId#
    ]]>
  </command>
  <command key="SummerFresh.Business.Entity.PageController.Select">
    <![CDATA[
    SELECT * FROM APP_Component WHERE TargetId=#targetId# AND ParentId=#parentId#
    ]]>
  </command>
</commands>