<?xml version="1.0" encoding="utf-8"?>
<commands xmlns="http://schemas.bingosoft.net/netframework/sqlcommand">



  <command key="SummerFresh.Business.Entity.DepartmentEntity.Tree">
    <![CDATA[
        SELECT 
        DepartmentId id,
        ParentId pId,
        DepartmentName name,
        'true' [open]
        FROM SYS_Department
    ]]>
  </command>

  <command key="SummerFresh.Business.Entity.UserEntity.Select">
    <![CDATA[
        SELECT * FROM SYS_User
        WHERE 1=1
        {? AND UserName like '%$UserName$%' }
        {? AND DepartmentId = #DepartmentId# }
        {? AND LoginId like '%$LoginId$%' }
        @security{SelectUser}
        
    ]]>
  </command>

  <command key="SummerFresh.Business.Entity.PermissionEntity.Tree">
    <![CDATA[
      select PermissionId id,
      ParentId pId,
      Url pUrl,
      PermissionType typeId,
      PermissionName name,
      Icon icon ,
      Rank 
      from SYS_Permission 
      where PermissionType IN (1,2) 
      and Status='Enabled'
      order by Rank
    ]]>
  </command>

  <command key="SummerFresh.Business.Entity.RoleEntity.Select">
    <![CDATA[
        SELECT r.*,rt.RoleTypeName FROM SYS_Role r INNER JOIN SYS_RoleType rt ON r.RoleTypeId=rt.RoleTypeId
        WHERE  1=1
        {? AND r.RoleId=#RoleId# }   
        {? AND r.RoleTypeId=#RoleTypeId# }
        {? AND r.DepartmentId=#DepartmentId# }
        {? AND rt.RoleTypeName like '%$RoleTypeName$%' }
    ]]>
  </command>



  <command key="SummerFresh.Business.Entity.UserRoleEntity.Select">
    <![CDATA[
        SELECT ur.*,r.DepartmentId FROM SYS_UserRole ur 
        INNER JOIN SYS_Role r ON ur.RoleId=r.RoleId
        INNER JOIN SYS_RoleType rt ON r.RoleTypeId=rt.RoleTypeId
        WHERE 1=1
        {? and ur.UserId=#UserId# }
        {? and rt.RoleTypeId=#RoleTypeId# }
        {? and ur.RoleId=#RoleId# }
    ]]>
  </command>

  <command key="SummerFresh.Business.Entity.UserRoleEntity.DeleteByOther">
    <![CDATA[
        DELETE ur FROM SYS_UserRole ur 
        INNER JOIN SYS_Role r ON ur.RoleId=r.RoleId
        INNER JOIN SYS_RoleType rt ON r.RoleTypeId=rt.RoleTypeId
        WHERE 1=0
        {? OR ur.RoleId=#RoleId# }
        {? OR ur.UserId=#UserId# }
        {? OR rt.RoleTypeId=#RoleTypeId# }
        {? OR r.DepartmentId=#DepartmentId# }
    ]]>
  </command>

  <command key="SummerFresh.Business.Entity.RolePermissionEntity.DeleteByOther">
    <![CDATA[
        DELETE rp FROM SYS_RolePermission rp
        INNER JOIN SYS_Role r ON r.RoleId=rp.RoleId
        INNER JOIN SYS_RoleType rt ON r.RoleTypeId=rt.RoleTypeId
        WHERE 1=0
        {? OR rp.RoleId=#RoleId# }
        {? OR r.RoleTypeId=#RoleTypeId# }
        {? OR r.DepartmentId=#DepartmentId# }
        {? OR rp.PermissionId=#PermissionId# }
        {? OR rp.PermissionRuleId=#PermissionRuleId# }
    ]]>
  </command>

  <command key="SummerFresh.Business.Entity.RoleTypePermissionEntity.DeleteByOther">
    <![CDATA[
        DELETE FROM SYS_RoleTypePermission
        WHERE 1=0
        {? OR RoleTypeId=#RoleTypeId# }
        {? OR PermissionId=#PermissionId# }
        {? OR PermissionRuleId=#PermissionRuleId# }
    ]]>
  </command>

  <command key="SummerFresh.Business.Entity.RoleEntity.DeleteByOther">
    <![CDATA[
        DELETE FROM SYS_Role
        WHERE 1=0
        {? OR RoleTypeId=#RoleTypeId# }
        {? OR DepartmentId=#DepartmentId# }
    ]]>
  </command>

  <command key="RoleTypePermission.Remove">
    <![CDATA[
        DELETE FROM SYS_RoleTypePermission
        WHERE RoleTypeId=#RoleId# AND PermissionId IN ($PermissionId$)
    ]]>
  </command>

  <command key="RoleTypePermission.Add">
    <![CDATA[
        INSERT INTO SYS_RoleTypePermission(RoleTypePermissionId,RoleTypeId,PermissionId,PermissionRuleId)
        VALUES (#Env:GUID#,#RoleId#,#PermissionId#,#PermissionRuleId#)
    ]]>
  </command>

  <command key="RoleTypePermission.Get">
    <![CDATA[
        SELECT rtp.*,p.PermissionType FROM SYS_RoleTypePermission rtp 
        INNER JOIN SYS_Permission p ON rtp.PermissionId=p.PermissionId 
        WHERE RoleTypeId=#RoleId#
        ORDER BY Rank
    ]]>
  </command>

  <command key="RolePermission.Remove">
    <![CDATA[
        DELETE FROM SYS_RolePermission
        WHERE RoleId=#RoleId# AND PermissionId IN ($PermissionId$)
    ]]>
  </command>

  <command key="RolePermission.Add">
    <![CDATA[
        INSERT INTO SYS_RolePermission(RolePermissionId,RoleId,PermissionId,PermissionRuleId)
        VALUES (#Env:GUID#,#RoleId#,#PermissionId#,#PermissionRuleId#)
    ]]>
  </command>

  <command key="RolePermission.Get">
    <![CDATA[
        SELECT rp.*,p.PermissionType FROM SYS_RolePermission rp 
        INNER JOIN SYS_Permission p ON rp.PermissionId=p.PermissionId 
        WHERE RoleId=#RoleId#
        ORDER BY Rank
    ]]>
  </command>

  <command key="Permission.Select">
    <![CDATA[
      SELECT 
        PermissionId,
        PermissionName,
        ParentId,
        PermissionType,
        PermissionCode,
        '' RuleContent,
        Rank,
        Url 
      FROM SYS_Permission
      UNION
      SELECT 
        PermissionRuleId PermissionId,
        RuleName PermissionName,
        PermissionId ParentId,
        4 PermissionType,
        '' PermissionCode,
        RuleContent,
        Priority Rank,
        '' Url
      FROM SYS_PermissionRule 
      ORDER BY PermissionType ASC,Rank ASC
    ]]>
  </command>
  <command key="SummerFresh.Business.Entity.UserRoleEntity.InsertValidate1">
    <![CDATA[
    SELECT RoleId FROM SYS_Role WHERE RoleTypeId=#RoleTypeId# AND DepartmentId=#DepartmentId#
    ]]>
  </command>
  <command key="SummerFresh.Business.Entity.UserRoleEntity.InsertValidate2">
    <![CDATA[
    SELECT COUNT(0) FROM SYS_UserRole WHERE RoleId=#RoleId# AND UserId=#UserId#
    ]]>
  </command>
  <command key="SummerFresh.Business.Entity.PageEntity.SelectComponentId">
    <![CDATA[
    SELECT ComponentId FROM APP_Component WHERE PageId=#PageId#
    ]]>
  </command>
  <command key="SummerFresh.Business.Entity.PageFileEntity.DeleteByPageId">
    <![CDATA[
    DELETE APP_PageFile WHERE PageId=#PageId#
    ]]>
  </command>
  <command key="SummerFresh.Business.Entity.PageEntity.GetByLastUpdateTime">
    <![CDATA[
    SELECT * FROM App_Page WHERE LastUpdateTime>=#LastUpdateTime#
    ]]>
  </command>
  <command key="SummerFresh.Business.Entity.PageEntity.IfExist">
    <![CDATA[
    SELECT COUNT(0) FROM APP_Page WHERE PageName=#PageName# {? AND PageId<>#PageId# }
    ]]>
  </command>
  <command key="SummerFresh.Business.Entity.CustomPage.Select">
    <![CDATA[
    SELECT PageId Value,PageTitle Text FROM APP_Page WHERE PageType='0'
    ]]>
  </command>

  <command key="SummerFresh.Business.Entity.CustomPermission">
    <![CDATA[
      SELECT PermissionId Value,PermissionName Text FROM [SYS_Permission]  WHERE [PermissionType]='1' OR [PermissionType]='2' ORDER BY PermissionType ASC
    ]]>
  </command>
  <command key="SummerFresh.Business.Entity.PermissionRule.DeleteByPermissionId">
    <![CDATA[
      DELETE FROM SYS_PermissionRule WHERE PermissionId=#PermissionId#
    ]]>
  </command>
  <command key="SummerFresh.Business.Entity.RoleEntity.InserValidate">
    <![CDATA[
      SELECT COUNT(0) FROM SYS_Role WHERE RoleTypeId=#RoleTypeId# AND DepartmentId=#DepartmentId#
      {? AND RoleId<>#RoleId# }
    ]]>
  </command>
  <command key="SummerFresh.Business.Entity.RoleTypeEntity.InserValidate">
    <![CDATA[
    SELECT COUNT(*) FROM SYS_RoleType WHERE RoleTypeName=#RoleTypeName#
    {? AND RoleTypeId<>#RoleTypeId# }
    ]]>
  </command>
</commands>