<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="environment" type="SummerFresh.Environment.Config.EnvironmentSection,SummerFresh.Environment" />
  </configSections>
  <environment xmlns="http://schemas.SummerFresh.net/netframework/environment">
    <factory name="default" type="SummerFresh.Environment.Variable.VariableFactory,SummerFresh.Environment"/>
    <provider prefix="" type="SummerFresh.Environment.EnvironmentProvider,SummerFresh.Environment">
      <variable name="GUID" type="SummerFresh.Environment.Variable.GuidVariable,SummerFresh.Environment" scope="none" />
      <variable name="Now" type="SummerFresh.Environment.Variable.DateTimeVariable,SummerFresh.Environment" scope="none" />
      <variable name="AppPath" type="SummerFresh.Environment.Variable.ApplicationPathVariable,SummerFresh.Environment" scope="none" />
      <variable name="SystemManager" value="liuhf" type="System.String" />
    </provider>
    <provider prefix="User" type="SummerFresh.Security.SecurityEnvironment,SummerFresh.Security" />
    <provider prefix="DateTime" type="SummerFresh.Environment.Variable.DateTimeEnvironment,SummerFresh.Environment" />
    <provider prefix="QueryString" type="SummerFresh.Environment.QueryStringProvider,SummerFresh.Environment" scope="none" />
    <provider prefix="AppSetting" type="SummerFresh.Environment.AppSettingsProvider,SummerFresh.Environment" />
  </environment>
</configuration>