<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <!-- 注册assembly后在<register>元素中的type属性不需要再重复输入assembly的名称 -->
    <assembly name="SummerFresh.Data" />
    <assembly name="SummerFresh.Environment" />
    <assembly name="SummerFresh.Security" />
    <assembly name="SummerFresh.Util" />

    <container>

      <!--向Dao注册环境变量参数，可以在SQL中使用环境变量-->
      <register name="EnvironmentParameters"
                type="SummerFresh.Data.ISqlParameters"
                mapTo="SummerFresh.Environment.EnvironmentParameters">
        <lifetime type="singleton"/>
        <constructor/>
      </register>

      <register type="SummerFresh.Util.Mail.IEmailSender"
                mapTo="SummerFresh.Util.Mail.SmtpEmailSender">
      </register>

      <register type="SummerFresh.Util.Cache.ICache"
                mapTo="SummerFresh.Util.Cache.HttpRuntimeCache">
      </register>

      <!-- 向Dao注册一个名称为security的Action，
                 可以在SQL中编写 @security{operation;defaultRule}来进行数据权限控制
            -->
      <register name="security"
                type="SummerFresh.Data.ISqlActionExecutor"
                mapTo="SummerFresh.Security.Rule.SecurityRuleExecutor">
        <lifetime type="singleton" />
        <constructor />
      </register>

      <!--向Dao注册环境变量参数，可以在SQL中使用Http上下文的所有参数作为变量
                #Form:Name#,#QueryString:Name#,#Control:ControlID#
            -->
      <register name="HttpContextParameters"
                type="SummerFresh.Data.ISqlParameters"
                mapTo="SummerFresh.Environment.HttpContextParameters">
        <lifetime type="singleton"/>
        <constructor/>
      </register>
    </container>
  </unity>
</configuration>