@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="renderer" content="webkit" />
    <meta name="renderer" content="ie-stand" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>密码修改</title>
    <!--初始css-->
    <link href="~/Content/css/reset.css" rel="stylesheet" />
    <link href="~/Content/css/common.css" rel="stylesheet" />
    <!--icon.css-->
    <link href="~/Content/icons/iconfont.css" rel="stylesheet" />
    <!--默认皮肤css-->
    <link href="~/Content/themes/default/default.css" rel="stylesheet" />

    <style>
        h4 {
            font-size: 16px;
            margin: 10px 0;
            color: #0784de;
        }

        code {
            padding: 2px 4px;
            font-size: 90%;
            color: #c7254e;
            background-color: #f9f2f4;
            border-radius: 4px;
        }

        .demo-box {
            margin: 10px 0;
            padding: 15px;
            border: 1px solid #0784de;
            border-radius: 3px;
        }

        p {
            margin: 5px 0;
        }

        /*修改密码样式*/
        .content-title {
            height: 47px;
            line-height: 47px;
            padding: 0 0 0 16px;
            margin: 0 0 20px 16px;
            font-size: 18px;
            color: #676767;
            font-weight: normal;
            border-bottom: 1px solid #ddd;
        }
    </style>
</head>
<body>
    <div style="margin: 20px;">

        <h2 class="content-title">登录密码</h2>
        <form id="changePasswordForm" action="/Home/ChangePassword" class="form-horizontal">
            <div class="form-group">
                <label for="OldPassword">原密码：</label>
                <input type="password" class="form-control" validator="required,length[1,10]" id="OldPassword" name="OldPassword" placeholder="输入原密码">
            </div>
            <div class="form-group">
                <label for="NewPassword">新密码：</label>
                <input type="password" class="form-control" validator="required,length[1,10]" id="NewPassword" name="NewPassword" placeholder="输入新密码">
            </div>
            <div class="form-group">
                <label for="Confirm">确认密码：</label>
                <input type="password" class="form-control" validator="required,length[1,10]" id="ConfirmPassword" name="ConfirmPassword" placeholder="再次输入新密码">
            </div>
            <div class="form-group">
                <label></label>
                <button onclick="save();" type="button" class="btn btn-primary">保存</button>
            </div>
        </form>
    </div>
    <script src="~/Content/js/jquery-1.9.1.min.js"></script>
    <script src="~/Content/js/showModalDialog.js"></script>
    <script src="~/Content/js/common.js"></script>
    <script src="~/Content/js/Validator/jquery.tipsy.js"></script>
    <script src="~/Content/js/Validator/jquery.validation.js"></script>
    <script src="~/Content/js/Validator/jquery.validationConfig.js"></script>
    <script>
        $(function () {
            $(document.forms[0]).validation();
        });

        function save() {
            var formId = "changePasswordForm";
            if ($.validation.validate(document.getElementById(formId)).isError) {
                return false;
            }
            summerFresh.formAjaxSubmit(formId, function (res) {
                if (res) {
                    summerFresh.showSuccess("密码修改成功！");
                }
            });
        }
    </script>
</body>
</html>
